In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./food.csv')

In [3]:
df.head()

,Category,Description,Nutrient Data Bank Number,Data.Alpha Carotene,Data.Ash,Data.Beta Carotene,Data.Beta Cryptoxanthin,Data.Carbohydrate,Data.Cholesterol,Data.Choline,...,Data.Major Minerals.Potassium,Data.Major Minerals.Sodium,Data.Major Minerals.Zinc,Data.Vitamins.Vitamin A - IU,Data.Vitamins.Vitamin A - RAE,Data.Vitamins.Vitamin B12,Data.Vitamins.Vitamin B6,Data.Vitamins.Vitamin C,Data.Vitamins.Vitamin E,Data.Vitamins.Vitamin K
0,BUTTER,"BUTTER,WITH SALT",1001,0,2.11,158,0,0.06,215,19,...,24,576,0.09,2499,684,0.17,0.003,0.0,2.32,7.0
1,BUTTER,"BUTTER,WHIPPED,WITH SALT",1002,0,2.11,158,0,0.06,219,19,...,26,827,0.05,2499,684,0.13,0.003,0.0,2.32,7.0
2,BUTTER OIL,"BUTTER OIL,ANHYDROUS",1003,0,0.00,193,0,0.00,256,22,...,5,2,0.01,3069,840,0.01,0.001,0.0,2.80,8.6
3,CHEESE,"CHEESE,BLUE",1004,0,5.11,74,0,2.34,75,15,...,256,1395,2.66,763,198,1.22,0.166,0.0,0.25,2.4
4,CHEESE,"CHEESE,BRICK",1005,0,3.18,76,0,2.79,94,15,...,136,560,2.60,1080,292,1.26,0.065,0.0,0.26,2.5

In [4]:
df.isnull().sum()

Category                                                      0
Description                                                   0
Nutrient Data Bank Number                                     0
Data.Alpha Carotene                                           0
Data.Ash                                                      0
Data.Beta Carotene                                            0
Data.Beta Cryptoxanthin                                       0
Data.Carbohydrate                                             0
Data.Cholesterol                                              0
Data.Choline                                                  0
Data.Fiber                                                    0
Data.Kilocalories                                             0
Data.Lutein and Zeaxanthin                                    0
Data.Lycopene                                                 0
Data.Manganese                                                0
Data.Niacin                                                   0
Data.Pantothenic Acid                                         0
Data.Protein                                                  0
Data.Refuse Percentage                                        0
Data.Retinol                                                  0
Data.Riboflavin                                               0
Data.Selenium                                                 0
Data.Sugar Total                                              0
Data.Thiamin                                                  0
Data.Water                                                    0
Data.Fat.Monosaturated Fat                                    0
Data.Fat.Polysaturated Fat                                    0
Data.Fat.Saturated Fat                                        0
Data.Fat.Total Lipid                                          0
Data.Household Weights.1st Household Weight                   0
Data.Household Weights.1st Household Weight Description     470
Data.Household Weights.2nd Household Weight                   0
Data.Household Weights.2nd Household Weight Description    3100
Data.Major Minerals.Calcium                                   0
Data.Major Minerals.Copper                                    0
Data.Major Minerals.Iron                                      0
Data.Major Minerals.Magnesium                                 0
Data.Major Minerals.Phosphorus                                0
Data.Major Minerals.Potassium                                 0
Data.Major Minerals.Sodium                                    0
Data.Major Minerals.Zinc                                      0
Data.Vitamins.Vitamin A - IU                                  0
Data.Vitamins.Vitamin A - RAE                                 0
Data.Vitamins.Vitamin B12                                     0
Data.Vitamins.Vitamin B6                                      0
Data.Vitamins.Vitamin C                                       0
Data.Vitamins.Vitamin E                                       0
Data.Vitamins.Vitamin K                                       0
dtype: int64

In [10]:
dfs = pd.read_excel('eye.xlsx', sheet_name='Sheet1')

In [11]:
dfs.head()

,state,vision_problem,race,sex,age,number_of_cases,prevalence_rate,population
0,UNITED_STATES,AMD,ALL,ALL,ALL,2069403,0.0209,142648393
1,UNITED_STATES,AMD,ALL,ALL,50-54,79268,0.0036,22298125
2,UNITED_STATES,AMD,ALL,ALL,55-59,81083,0.0041,19664805
3,UNITED_STATES,AMD,ALL,ALL,60-64,95553,0.0057,16817924
4,UNITED_STATES,AMD,ALL,ALL,65-69,113107,0.0091,12435263

In [14]:
dfs.isnull().sum()

state              0
vision_problem     0
race               0
sex                0
age                0
number_of_cases    0
prevalence_rate    0
population         0
dtype: int64

In [15]:
dfs['age'].unique()

array(['ALL', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80+',
       '40-49', '50-64', '65-74', '75+'], dtype=object)

In [16]:
dfs['state'].unique()

array(['UNITED_STATES', 'ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS',
       'CALIFORNIA', 'COLORADO', 'CONNECTICUT', 'DELAWARE',
       'DISTRICT_OF_COLUMBIA', 'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO',
       'ILLINOIS', 'INDIANA', 'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA',
       'MAINE', 'MARYLAND', 'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA',
       'MISSISSIPPI', 'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA',
       'NEW_HAMPSHIRE', 'NEW_JERSEY', 'NEW_MEXICO', 'NEW_YORK',
       'NORTH_CAROLINA', 'NORTH_DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON',
       'PENNSYLVANIA', 'RHODE_ISLAND', 'SOUTH_CAROLINA', 'SOUTH_DAKOTA',
       'TENNESSEE', 'TEXAS', 'UTAH', 'VERMONT', 'VIRGINIA', 'WASHINGTON',
       'WEST_VIRGINIA', 'WISCONSIN', 'WYOMING'], dtype=object)

In [17]:
dfs['vision_problem'].unique()

array(['AMD', 'BLINDNESS', 'CATARACT', 'DIABETIC_RETINOPATHY', 'GLAUCOMA',
       'HYPEROPIA', 'MYOPIA', 'VISION_IMPAIRMENT'], dtype=object)

In [18]:
dfs['race'].unique()

array(['ALL', 'BLACK', 'HISPANIC', 'OTHER', 'WHITE'], dtype=object)

In [19]:
dfs['sex'].unique()

array(['ALL', 'FEMALE', 'MALE'], dtype=object)